node_modules/.yarn-integrity
node_modules/.bin/watch
node_modules/exec-sh/.jshintrc
node_modules/exec-sh/.travis.yml
node_modules/exec-sh/LICENSE
node_modules/exec-sh/package.json
node_modules/exec-sh/README.md
node_modules/exec-sh/example/example.js
node_modules/exec-sh/lib/exec-sh.js
node_modules/exec-sh/test/exec-sh.js
node_modules/merge/bower.json
node_modules/merge/LICENSE
node_modules/merge/merge.js
node_modules/merge/merge.min.js
node_modules/merge/package.json
node_modules/merge/README.md
node_modules/watch/.npmignore
node_modules/watch/cli.js
node_modules/watch/LICENSE
node_modules/watch/main.js
node_modules/watch/package.json
node_modules/watch/README.md
node_modules/watch/scripts/release.sh
node_modules/watch/test/test_monitor.js
node_modules/watch/test/test_monitorRootDirectory.js
node_modules/watch/test/test_watchTree.js
node_modules/watch/test/d/t
node_modules/watch/test/d/d/t

.vercel
